# Ignore compiled files
*.out
*.o
*.obj
*.exe

# Ignore debugging files
*.log
*.stackdump

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build folders
/build/
/bin/
/debug/
/release/

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
